<main>
  <section id="section-cadastrar">
    <h2>Cadastrar</h2>
    <form class="row g-3">

        <label for="staticUsuario" class="visually-hidden">Nome</label>
        <input type="text" class="form-control" id="nome" placeholder="Nome">
        <br>

        <label for="endereco" class="visually-hidden">Endereço</label>
        <input type="text" class="form-control" id="endereco" placeholder="Endereço">
        <br>

        <button type="submit" class="btn btn-primary mb3">Cadastrar</button>

    </form>
  </section>
</main>
